img {
    width: 510px;
    height: 510px;
    position:relative;
}

.container {
    width: 510px;
    height: 510px;
}

.box {
    width:168px;
    height:168px;
    background-color: red;
    position: fixed;
    border: 1px solid black;
}

.box0 {
    top: 10px;
    left: 10px;
}

.box1 {
    top: 10px;
    left: 180px;
}

.box2 {
    top: 10px;
    left: 350px;
}

.box3 {
    top: 180px;
    left: 10px;
}

.box4 {
    top: 180px;
    left: 180px;
}

.box5 {
    top: 180px;
    left: 350px;
}

.box6 {
    top: 350px;
    left: 10px;
}

.box7 {
    top: 350px;
    left: 180px;
}

.box8 {
    top: 350px;
    left: 350px;
}

body {
    margin: 10px;
}
